/*==========================================*\
----- CONTENT
\*==========================================*/
/*		                                *\
----- Fonts
----- Variables
----- Mixins
----- General


----- MEDIA QUERIES
\*__________________________________________*/
/*===========================*\
----- Variables
\*===========================*/
/* General
================================ */
/* line 32, ../scss/style.scss */
#wrapper {
  background-color: black;
}

/* line 36, ../scss/style.scss */
.container {
  background-color: purple;
  height: 100%;
  width: 60%;
  margin: 0 auto;
}

/* line 43, ../scss/style.scss */
nav {
  width: 100%;
}
/* line 45, ../scss/style.scss */
nav ul {
  padding: 0;
  margin: 0;
}
/* line 48, ../scss/style.scss */
nav ul li {
  list-style-type: 0;
  display: inline-block;
}

/* line 55, ../scss/style.scss */
nav ul li {
  list-style: none;
  margin-right: 2px;
  margin-top: 50px;
}

/* line 61, ../scss/style.scss */
nav ul a {
  padding: 0 30px;
}
/* line 62, ../scss/style.scss */
nav ul a:hover {
  background-color: #cccccc;
  color: white;
}

/* line 70, ../scss/style.scss */
.uppercase {
  text-transform: uppercase;
}

/* line 73, ../scss/style.scss */
h1 {
  color: #e93189;
  font-size: 46px;
  font-weight: bold;
  font-family: "Myriad Pro";
}

/* line 80, ../scss/style.scss */
h2, h3, h4, h5 {
  color: white;
  font-family: "Myriad Pro";
}

/* line 85, ../scss/style.scss */
p {
  color: black;
  font-family: "Myriad Pro";
}

/* line 90, ../scss/style.scss */
h2 {
  font-size: 36px;
}

/* line 94, ../scss/style.scss */
h3 {
  font-size: 20px;
}

/* line 98, ../scss/style.scss */
h4 {
  color: black;
  font-size: 15px;
  text-transform: uppercase;
}

/* line 104, ../scss/style.scss */
h5 {
  font-size: 16px;
}

/* line 109, ../scss/style.scss */
.active {
  background-color: white;
  color: black;
}

/* Layout
================================ */
/* line 118, ../scss/style.scss */
.inner-container {
  margin: 0 auto;
  width: 700px;
  min-height: 1750px;
}

/* line 125, ../scss/style.scss */
.start-title {
  margin-top: 23px;
}

/* line 129, ../scss/style.scss */
.steps {
  margin-top: 28px;
}

/* line 133, ../scss/style.scss */
.callout-inner {
  position: relative;
  top: -15px;
  padding-top: 9px;
  border: solid 2px white;
  height: 100px;
}
/* line 139, ../scss/style.scss */
.callout-inner h2 {
  font-size: 40px;
  font-family: Myriad Pro;
}
/* line 143, ../scss/style.scss */
.callout-inner h4 {
  font-weight: bold;
  font-size: 13px;
}
/* line 147, ../scss/style.scss */
.callout-inner h5 {
  font-size: 12px;
}

/* line 151, ../scss/style.scss */
.panel.callout {
  border: solid 0px;
  margin-bottom: 1.25rem;
  padding: 1.25rem;
  background: #e8308a;
  color: white;
  height: 110px;
}

/* line 163, ../scss/style.scss */
.contribution {
  background: white;
  height: 275px;
  border: 14px solid #611474;
}
/* line 167, ../scss/style.scss */
.contribution h6 {
  color: black;
  font-size: 12px;
  font-weight: bold;
}

/* line 174, ../scss/style.scss */
.vote-button {
  border-style: solid;
  border-width: 0px;
  cursor: pointer;
  font-weight: normal;
  line-height: normal;
  position: relative;
  text-decoration: none;
  text-align: center;
  -webkit-appearance: none;
  background-color: black;
  border-radius: 5px;
  margin-top: 4px;
  color: white;
}

/* line 190, ../scss/style.scss */
.logo {
  position: relative;
  bottom: -45px;
  left: -10px;
}

/* Icons
================================ */
/* line 199, ../scss/style.scss */
[class*="fi-"] {
  font-size: 20px;
  text-align: center;
  display: block;
  margin-top: 10px;
}

/* line 206, ../scss/style.scss */
.fi-share {
  color: #008853;
}

/* Media Queries
================================ */
