/*==========================================*\
----- CONTENT
\*==========================================*/
/*		                                *\
----- Fonts
----- Variables
----- Mixins
----- General

----- MEDIA QUERIES
\*__________________________________________*/
/*===========================*\
----- Variables
\*===========================*/
/* General
================================ */
/* line 26, ../scss/style.scss */
body {
  font-family: "Myriad Pro" !important;
}

/* line 30, ../scss/style.scss */
.uppercase {
  text-transform: uppercase !important;
}

/* line 33, ../scss/style.scss */
h1 {
  color: #e93189;
  font-size: 46px;
  font-weight: bold;
  font-family: "Myriad Pro" !important;
}

/* line 40, ../scss/style.scss */
h2, h3, h4, h5 {
  color: white !important;
  font-family: "Myriad Pro" !important;
}

/* line 45, ../scss/style.scss */
p {
  color: black;
  font-family: "Myriad Pro" !important;
}

/* line 50, ../scss/style.scss */
h2 {
  font-size: 36px;
}

/* line 54, ../scss/style.scss */
h3 {
  font-size: 20px;
}

/* line 58, ../scss/style.scss */
h4 {
  color: black;
  font-size: 15px;
  text-transform: uppercase !important;
}

/* line 64, ../scss/style.scss */
h5 {
  font-size: 16px;
}

/* line 69, ../scss/style.scss */
.active {
  background-color: white !important;
  color: black !important;
}

/* Layout
================================ */
/* line 76, ../scss/style.scss */
.container {
  background: url(../img/bg-start-cook.png) no-repeat;
  margin: 0 auto;
  width: 810px;
  min-height: 1860px;
}

/* line 83, ../scss/style.scss */
.inner-contianer {
  margin: 0 auto;
  width: 700px;
  min-height: 1750px;
}

/* line 89, ../scss/style.scss */
nav ul li {
  list-style: none;
  margin-right: 2px;
  margin-top: 50px;
}

/* line 95, ../scss/style.scss */
nav ul a {
  padding: 0 30px !important;
}
/* line 96, ../scss/style.scss */
nav ul a:hover {
  background-color: #cccccc !important;
  color: white !important;
}

/* line 102, ../scss/style.scss */
.start-title {
  margin-top: 23px;
}

/* line 106, ../scss/style.scss */
.steps {
  margin-top: 28px;
}

/* line 110, ../scss/style.scss */
.callout-inner {
  position: relative;
  top: -15px;
  padding-top: 9px;
  border: solid 2px white;
  height: 100px;
}
/* line 116, ../scss/style.scss */
.callout-inner h2 {
  font-size: 40px;
  font-family: Myriad Pro;
}
/* line 120, ../scss/style.scss */
.callout-inner h4 {
  font-weight: bold;
  font-size: 13px;
}
/* line 124, ../scss/style.scss */
.callout-inner h5 {
  font-size: 12px;
}

/* line 128, ../scss/style.scss */
.panel.callout {
  border: solid 0px;
  margin-bottom: 1.25rem;
  padding: 1.25rem;
  background: #e8308a;
  color: white;
  height: 110px;
}

/* line 140, ../scss/style.scss */
.contribution {
  background: white;
  height: 275px;
  border: 14px solid #611474;
}
/* line 144, ../scss/style.scss */
.contribution h6 {
  color: black;
  font-size: 12px;
  font-weight: bold;
}

/* line 151, ../scss/style.scss */
.vote-button {
  border-style: solid;
  border-width: 0px;
  cursor: pointer;
  font-weight: normal;
  line-height: normal;
  position: relative;
  text-decoration: none;
  text-align: center;
  -webkit-appearance: none;
  background-color: black;
  border-radius: 5px;
  margin-top: 4px;
  color: white;
}

/* line 167, ../scss/style.scss */
.logo {
  position: relative;
  bottom: -45px;
  left: -10px;
}

/* Icons
================================ */
/* line 176, ../scss/style.scss */
[class*="fi-"] {
  font-size: 20px;
  text-align: center;
  display: block;
  margin-top: 10px;
}

/* line 183, ../scss/style.scss */
.fi-share {
  color: #008853;
}

/* Media Queries
================================ */
