/* line 8, ../scss/_layout.scss */
#wrapper {
  background-color: black;
  min-height: 60em;
}

/* line 14, ../scss/_layout.scss */
.container {
  background-color: #480856;
  background-image: url("../img/bg-gradient.png");
  background-size: 100% auto;
  background-position: top center;
  background-repeat: no-repeat;
  height: 100%;
  min-height: 60em;
  max-width: 48em;
  margin: 0 auto;
  padding: 2em 4.5em;
}

/* line 30, ../scss/_layout.scss */
button {
  background-color: #e82f8a;
  border-radius: .5em;
  padding: .5em 4em;
  font-family: "Josefin Sans";
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}
/* line 38, ../scss/_layout.scss */
button:hover {
  background-color: #cd1771;
}

/* line 46, ../scss/_layout.scss */
nav {
  margin: 0 auto;
  min-height: 7em;
  padding: 2em 0;
  max-width: 48em;
}
/* line 52, ../scss/_layout.scss */
nav ul {
  margin: 0 auto;
}
/* line 58, ../scss/_layout.scss */
nav ul li {
  padding: 10px 20px;
  background-color: black;
  list-style-type: 0;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-size: .8em;
  font-family: "Josefin Sans";
  font-weight: 600;
  letter-spacing: 1px;
  transition: 300ms all ease-in-out;
  cursor: pointer;
}
/* line 72, ../scss/_layout.scss */
nav ul li a {
  transition: 300ms all ease-in-out;
  color: white;
  border: 0;
}
/* line 76, ../scss/_layout.scss */
nav ul li a:hover {
  color: white;
}
/* line 81, ../scss/_layout.scss */
nav ul li.active, nav ul li:hover {
  color: black;
  background-color: white;
}
/* line 84, ../scss/_layout.scss */
nav ul li.active a, nav ul li:hover a {
  color: black;
}
/* line 86, ../scss/_layout.scss */
nav ul li.active a:hover, nav ul li:hover a:hover {
  color: black;
}

/* line 97, ../scss/_layout.scss */
body {
  font-family: "Raleway";
}

/* line 100, ../scss/_layout.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Josefin Sans";
  text-transform: uppercase;
}

/* line 105, ../scss/_layout.scss */
h1, h3, h4, h5, h6 {
  color: white;
}

/* line 108, ../scss/_layout.scss */
h2 {
  color: #e8308a;
  font-weight: 700;
}

/* line 112, ../scss/_layout.scss */
h3 {
  font-weight: 600;
}

/* line 115, ../scss/_layout.scss */
p {
  color: white;
}

/* line 118, ../scss/_layout.scss */
a {
  border-bottom: 1px solid white;
  color: white;
}
/* line 123, ../scss/_layout.scss */
a:hover, a:active, a:visited {
  color: white;
}

/* line 129, ../scss/_layout.scss */
.uppercase {
  text-transform: uppercase;
}

/* line 137, ../scss/_layout.scss */
.page {
  z-index: 1;
  position: relative;
}
/* line 140, ../scss/_layout.scss */
.page section {
  z-index: 2;
}
/* line 143, ../scss/_layout.scss */
.page .background-image {
  background-position: top right;
  background-repeat: no-repeat;
  width: 20em;
  height: 100%;
  position: absolute;
  z-index: -1;
}

/* line 154, ../scss/_layout.scss */
section {
  padding: .5em 0;
}
/* line 156, ../scss/_layout.scss */
section .section-header {
  margin: 1em 0;
  position: relative;
}
/* line 159, ../scss/_layout.scss */
section .section-header h3 {
  font-weight: 700;
  margin: 0;
  padding: 0;
}
/* line 164, ../scss/_layout.scss */
section .section-header a {
  text-transform: uppercase;
  position: absolute;
  right: 0;
  bottom: .3em;
  font-weight: 700;
  font-family: "Josefin Sans";
  font-size: .9em;
}
/* line 176, ../scss/_layout.scss */
section .section-grid .contribution {
  padding: 0;
}
/* line 178, ../scss/_layout.scss */
section .section-grid .contribution .contribution-inner {
  padding: .5em;
  margin-right: 1em;
  margin-bottom: 1em;
  background-color: white;
}
/* line 183, ../scss/_layout.scss */
section .section-grid .contribution .contribution-inner h5 {
  overflow: hidden;
  padding: .2em 0;
  margin: 0;
  text-transform: none;
  color: #2c2c2c;
  font-family: "Arial", sans-serif;
  font-weight: 600;
  font-size: 1em;
  text-overflow: ellipsis;
}
/* line 194, ../scss/_layout.scss */
section .section-grid .contribution .contribution-inner .contribution-image {
  overflow: hidden;
  height: 11em;
}
/* line 197, ../scss/_layout.scss */
section .section-grid .contribution .contribution-inner .contribution-image img {
  width: 100%;
}
/* line 203, ../scss/_layout.scss */
section .section-grid .contribution:nth-child(3n) .contribution-inner {
  margin-right: 0;
}
/* line 208, ../scss/_layout.scss */
section .section-grid .contribution-actions {
  height: 3em;
  padding: 1em 0;
  position: relative;
}
/* line 212, ../scss/_layout.scss */
section .section-grid .contribution-actions div {
  display: inline-block;
}
/* line 214, ../scss/_layout.scss */
section .section-grid .contribution-actions div i {
  cursor: pointer;
  border: 1px solid #e5e5e5;
  border-radius: .2em;
  padding: .2em .6em;
  font-size: 1em;
}
/* line 220, ../scss/_layout.scss */
section .section-grid .contribution-actions div i.fi-heart {
  color: #e8308a;
}
/* line 222, ../scss/_layout.scss */
section .section-grid .contribution-actions div i.fi-heart.inactive {
  color: #e5e5e5;
}
/* line 226, ../scss/_layout.scss */
section .section-grid .contribution-actions div i.fi-share {
  color: #008853;
}
/* line 229, ../scss/_layout.scss */
section .section-grid .contribution-actions div i span {
  font-size: .9em;
  vertical-align: center;
  font-weight: 600;
  font-family: "Arial", sans-serif;
  font-style: normal;
  padding-left: .4em;
  color: #2c2c2c;
}
/* line 240, ../scss/_layout.scss */
section .section-grid .contribution-actions a {
  border: 1px solid black;
  background-color: black;
  position: absolute;
  right: 0;
  top: 1.1em;
  border-radius: .2em;
  padding: .4em .8em;
  font-size: .8em;
}

/* line 259, ../scss/_layout.scss */
#section-start section:nth-child(2) h3 {
  padding-right: 7em;
}
/* line 262, ../scss/_layout.scss */
#section-start section:nth-child(2) p {
  padding-right: 12em;
}
/* line 266, ../scss/_layout.scss */
#section-start .background-image {
  background-image: url("../img/chef.png");
  top: 4em;
  right: -4.8em;
}

/* line 272, ../scss/_layout.scss */
.rules-grid {
  margin: 10px 0;
}
/* line 274, ../scss/_layout.scss */
.rules-grid h4 {
  font-size: 1em;
  font-weight: 700;
  padding: 0;
  margin: 0;
}
/* line 280, ../scss/_layout.scss */
.rules-grid p {
  font-size: 0.8em;
}
/* line 283, ../scss/_layout.scss */
.rules-grid span {
  color: white;
  font-size: 3em;
  font-weight: 700;
  font-family: "Josefin Sans";
  line-height: .9em;
}
/* line 290, ../scss/_layout.scss */
.rules-grid .columns {
  padding: 0;
  margin: 0;
}
/* line 294, ../scss/_layout.scss */
.rules-grid .rules-column {
  padding: 1em;
  height: 150px;
  padding: 10px;
  position: relative;
}
/* line 300, ../scss/_layout.scss */
.rules-grid .rules-column:nth-of-type(odd) .column-inner {
  right: 5px;
}
/* line 305, ../scss/_layout.scss */
.rules-grid .rules-column:nth-of-type(even) .column-inner {
  left: 5px;
}
/* line 309, ../scss/_layout.scss */
.rules-grid .rules-column .column-inner {
  background-color: #e82f8a;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  padding: 1em;
}
/* line 318, ../scss/_layout.scss */
.rules-grid .rules-column .column-inner .column-border {
  border: 2px solid white;
  position: absolute;
  top: 4px;
  left: 4px;
  bottom: 4px;
  right: 4px;
}
/* line 328, ../scss/_layout.scss */
.rules-grid .rules-column .column-inner .small-11 {
  padding-left: 1em;
}

/* line 338, ../scss/_layout.scss */
#section-all section:nth-child(2) h3 {
  padding-right: 7em;
}
/* line 341, ../scss/_layout.scss */
#section-all section:nth-child(2) p {
  padding-right: 9em;
}
/* line 345, ../scss/_layout.scss */
#section-all .background-image {
  top: 4em;
  right: -4.8em;
  background-image: url("../img/chef.png");
}

/* line 353, ../scss/_layout.scss */
#section-top section:nth-child(2) h3 {
  padding-right: 7em;
}
/* line 356, ../scss/_layout.scss */
#section-top section:nth-child(2) p {
  padding-right: 12em;
}
/* line 360, ../scss/_layout.scss */
#section-top .background-image {
  top: 4em;
  right: -4.8em;
  background-image: url("../img/chef.png");
}

/* line 368, ../scss/_layout.scss */
#section-winners section:nth-child(2) h3 {
  padding-right: 7em;
}
/* line 371, ../scss/_layout.scss */
#section-winners section:nth-child(2) p {
  padding-right: 8em;
}
/* line 375, ../scss/_layout.scss */
#section-winners .background-image {
  top: 4em;
  right: -4.8em;
  background-image: url("../img/glass.png");
}

/* line 383, ../scss/_layout.scss */
#section-rules section:nth-child(2) h3 {
  padding-right: 7em;
}
/* line 386, ../scss/_layout.scss */
#section-rules section:nth-child(2) p {
  padding-right: 12em;
}
/* line 390, ../scss/_layout.scss */
#section-rules .background-image {
  top: 4em;
  right: -4.8em;
  background-image: url("../img/glass.png");
}

/* line 397, ../scss/_layout.scss */
footer {
  height: 7em;
  margin-top: 3em;
}
/* line 400, ../scss/_layout.scss */
footer .logo {
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  background-position: top left;
  width: 11em;
  height: 6em;
}

/* Layout
================================ */
/* Icons
================================ */
/* Media Queries
================================ */
