///////////////////////////////////////////////////////////////////////////////
/// general ///
///////////////////////////////////////////////////////////////////////////////
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
#wrapper {
    background-color: black;
    min-height: 60em;
}
.container {
    background-color: $bg-purple;
    background-image: $bg-gradient;
    background-size: 100% auto;
    background-position: top center;
    background-repeat: no-repeat;
    height: 100%;
    min-height: 60em;
    max-width: 48em;
    margin: 0 auto;
    padding: 2em 4.5em;
}
///////////////////////////////////////////////////////////////////////////////
/// elements ///
///////////////////////////////////////////////////////////////////////////////
button {
    background-color: $pink-bg;
    border-radius: .5em;
    padding: .5em 4em;
    font-family: $headingfont;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    &:hover {
        background-color: darken($pink-bg, 10%);
    }
}
///////////////////////////////////////////////////////////////////////////////
/// navigation ///
///////////////////////////////////////////////////////////////////////////////
nav {
    margin: 0 auto;
    min-height: 7em;
    padding: 2em 0;
    max-width: 48em;
    ul {
        margin: 0 auto;
        li {
            padding: 10px 20px;
            background-color: black;
            list-style-type: 0;
            display: inline-block;
            text-align: center;
            text-transform: uppercase;
            color: white;
            font-size: .8em;
            font-family: $headingfont;
            font-weight: 600;
            letter-spacing: 1px;
            transition: 300ms all ease-in-out;
            cursor: pointer;
            a {
                transition: 300ms all ease-in-out;
                color: white;
                border: 0;
                &:hover {
                    color: white;
                }
            }
            &.active,
            &:hover {
                color: black;
                background-color: white;
                a {
                    color: black;
                    &:hover {
                        color: black;
                    }
                }
            }
        }
    }
}
///////////////////////////////////////////////////////////////////////////////
/// typography ///
///////////////////////////////////////////////////////////////////////////////
body {
    font-family: $basefont;
}
h1, h2, h3, h4, h5, h6 {
    font-family: $headingfont;
    text-transform: uppercase;
}

h1, h3, h4, h5, h6 {
    color: white;
}
h2 {
    color: $accentpink;
    font-weight: 700;
}
h3 {
    font-weight: 600;
}
p {
    color: white;
}
a {
    border-bottom: 1px solid white;
    color: white;
    &:hover,
    &:active,
    &:visited {
        color: white;
    }
}
p a {
}
.uppercase {
    text-transform: uppercase;
}

///////////////////////////////////////////////////////////////////////////////
/// pages, sections general rules ///
///////////////////////////////////////////////////////////////////////////////
.page {
    z-index: 1;
    position: relative;
    section {
        z-index: 2;
    }
    .background-image {
        background-position: top right;
        background-repeat: no-repeat;
        width: 20em;
        height: 100%;
        position: absolute;
        z-index: -1;
    }
}
section {
    padding: .5em 0;
    .section-header {
        margin: 1em 0;
        position: relative;
        h3 {
            font-weight: 700;
            margin: 0;
            padding: 0;
        }
        a {
            @include uppercaselink;
            position: absolute;
            right: 0;
            bottom: .3em;
            font-weight: 700;
            font-family: $headingfont;
            font-size: .9em;
        }

    }
    .section-grid {
        .contribution {
            padding: 0;
            .contribution-inner {
                padding: .5em;
                margin-right: 1em;
                margin-bottom: 1em;
                background-color: $white;
                h5 {
                    overflow: hidden;
                    height: 1.5em;
                    margin: .2em 0;
                    padding: 0;
                    text-transform: none;
                    color: $darktext;
                    font-family: $sans-serif;
                    font-weight: 600;
                    font-size: 1em;
                    text-overflow: ellipsis;
                }
                .contribution-image {
                    overflow: hidden;
                    height: 11em;
                    img {
                        width: 100%;
                    }
                }
            }
            &:nth-child(3n) {
                .contribution-inner {
                    margin-right: 0;
                }
            }
        }
        .contribution-actions {
            height: 3em;
            padding: 1em 0;
            position: relative;
            div {
                display: inline-block;
                i {
                    cursor: pointer;
                    border: 1px solid $border;
                    border-radius: .2em;
                    padding: .2em .6em;
                    font-size: 1em;
                    &.fi-heart {
                        color: $accentpink;
                        &.inactive {
                            color: $border;
                        }
                    }
                    &.fi-share {
                        color: $accentgreen;
                    }
                    span {
                        font-size: .9em;
                        vertical-align: center;
                        font-weight: 600;
                        font-family: $sans-serif;
                        font-style: normal;
                        padding-left: .4em;
                        color: $darktext;
                    }
                }
            }
            a {
                // MAKE GRADIENT
                border: 1px solid black;
                background-color: black;
                position: absolute;
                right: 0;
                top: 1.1em;
                border-radius: .2em;
                padding: .4em .8em;
                font-size: .8em;
            }
        }
    }
    .section-pagination {
        padding: 1.5em 0;

    }
}

///////////////////////////////////////////////////////////////////////////////
/// section-welcome ///
///////////////////////////////////////////////////////////////////////////////
#container-welcome{
    min-height: 55em;
    
    .rules-column {
        border-radius: 50%;
        padding: 1em;
        height: 200px;
        padding: 10px;
        position: relative;
        top: 90px;
        left: 70px;
        .column-inner {
            background-color: $pink-bg;
            border-radius: 50%;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            height: 100%;
            width: 100%;
            padding: 1em;
            .column-border {
                border: 2px solid white;
                border-radius: 50%;
                position: absolute;
                top: 4px;
                left: 4px;
                bottom: 4px;
                right: 4px;
            }
            h4{
                font-size: 18px;
                font-weight: bold;
                position: relative;
                top: 54px;
                left: 0px;
                text-align: center;

            }
            a {
                // MAKE GRADIENT
                border: 1px solid black;
                background-color: black;
                position: relative;
                top: 60px;
                left: 37px;
                border-radius: .2em;
                padding: .4em .8em;
                font-size: .8em;
            }
        }
    }
}
.page-welcome {
    z-index: 1;
    position: relative;
    section {
        z-index: 2;
    }
    .background-image {
        background-position: top right;
        background-repeat: no-repeat;
        width: 21em;
        height: 321%;
        position: absolute;
        z-index: -1;
    }
}
#section-welcome {
    h2 {
        padding-top: 0.5em;
        font-size: 40px;
    }
    h3{
        font-size: 30px;
    }
    
    .background-image {
        background-image: $bg-welcome-glass;
        top: 14em;
        right: -2.8em;
    }
}


#welcome-footer{
    height: 7em;
    margin-top: 30em;
    margin-left: 1em;
}

///////////////////////////////////////////////////////////////////////////////
/// section-start ///
///////////////////////////////////////////////////////////////////////////////
#section-start {
    section:nth-child(2) {
        h3 {
            padding-right: 7em;
        }
        p {
            padding-right: 12em;
        }
    }
    .background-image {
        background-image: $bg-chef;
        top: 4em;
        right: -4.8em;
    }
}
.rules-grid {
    margin: 10px 0;
    h4 {
        font-size: 1em;
        font-weight: 700;
        padding: 0;
        margin: 0;
    }
    p {
        font-size: 0.8em;
    }
    span {
        color: white;
        font-size: 3em;
        font-weight: 700;
        font-family: $headingfont;
        line-height: .9em;
    }
    .columns {
        padding: 0;
        margin: 0;
    }
    .rules-column {
        padding: 1em;
        height: 150px;
        padding: 10px;
        position: relative;
        &:nth-of-type(odd) {
            .column-inner {
                right: 5px;
            }
        }
        &:nth-of-type(even) {
            .column-inner {
                left: 5px;
            }
        }
        .column-inner {
            background-color: $pink-bg;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            height: 100%;
            padding: 1em;
            .column-border {
                border: 2px solid white;
                position: absolute;
                top: 4px;
                left: 4px;
                bottom: 4px;
                right: 4px;
            }
            .small-1 {
            }
            .small-11 {
                padding-left: 1em;
            }
        }
    }
}
///////////////////////////////////////////////////////////////////////////////
/// section-all ///
///////////////////////////////////////////////////////////////////////////////
#section-all {
    section:nth-child(2) {
        p {
            padding-right: 12em;
        }
    }
    .background-image {
        top: -.5em;
        right: -4.8em;
        background-image: $bg-chef;
    }
}
///////////////////////////////////////////////////////////////////////////////
/// section-top ///
///////////////////////////////////////////////////////////////////////////////
#section-top {
    section:nth-child(2) {
        p {
            padding-right: 10.5em;
        }
    }
    .background-image {
        top: -.5em;
        right: -4.8em;
        background-image: $bg-chef;
    }
}
///////////////////////////////////////////////////////////////////////////////
/// section-winners ///
///////////////////////////////////////////////////////////////////////////////
#section-winners {
    section:nth-child(2) {
        p {
            padding-right: 10em;
        }
    }
    .background-image {
        top: -.5em;
        right: -4.8em;
        background-image: $bg-glass;
    }
    .section-header h3 {
        font-size: 1.3em;
    }
}
///////////////////////////////////////////////////////////////////////////////
/// section-rules ///
///////////////////////////////////////////////////////////////////////////////
#section-rules {
    section:nth-child(2) {
        p {
            padding-right: 12em;
        }
    }
    .background-image {
        top: -1em;
        right: -2em;
        background-image: $bg-glass;
    }
}
///////////////////////////////////////////////////////////////////////////////
/// footer ///
///////////////////////////////////////////////////////////////////////////////
footer {
    height: 7em;
    margin-top: 4em;
    .logo {
        background-image: $logo;
        background-repeat: no-repeat;
        background-position: top left;
        width: 11em;
        height: 6em;
    }
}
