///////////////////////////////////////////////////////////////////////////////
/// variables ///
///////////////////////////////////////////////////////////////////////////////

$bg-purple: #480856; //purple

$white: #fff;     //white
$black: #000;     //black

$accentgreen: #008853;
$accentpink: #e8308a;  // pink for headline
$pink-bg: #e82f8a;  // pink for bg / grid

$border: #e5e5e5;
$darktext: #2c2c2c;

$tp-black: rgba(0,0,0,.7);

$bg-gradient: url('../img/bg-gradient.png');
$bg-chef: url('../img/chef.png');
$bg-glass: url('../img/glass.png');
$bg-welcome-glass: url('../img/welcome-glass.png');
$logo: url('../img/logo.png');

$headingfont: 'josefin_sansbold', 'Arial', sans-serif;
$basefont: 'ralewayregular', 'Arial', sans-serif;
$sans-serif: 'Arial', sans-serif;

