@font-face {
  font-family: 'ralewayregular';
  src: url("../fonts/raleway-regular-webfont.eot");
  src: url("../fonts/raleway-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-regular-webfont.woff2") format("woff2"), url("../fonts/raleway-regular-webfont.woff") format("woff"), url("../fonts/raleway-regular-webfont.ttf") format("truetype"), url("../fonts/raleway-regular-webfont.svg#ralewayregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'josefin_sansbold';
  src: url("../fonts/josefinsans-bold-webfont.eot");
  src: url("../fonts/josefinsans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/josefinsans-bold-webfont.woff2") format("woff2"), url("../fonts/josefinsans-bold-webfont.woff") format("woff"), url("../fonts/josefinsans-bold-webfont.ttf") format("truetype"), url("../fonts/josefinsans-bold-webfont.svg#josefin_sansbold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'josefin_sanssemibold';
  src: url("../fonts/josefinsans-semibold-webfont.eot");
  src: url("../fonts/josefinsans-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/josefinsans-semibold-webfont.woff2") format("woff2"), url("../fonts/josefinsans-semibold-webfont.woff") format("woff"), url("../fonts/josefinsans-semibold-webfont.ttf") format("truetype"), url("../fonts/josefinsans-semibold-webfont.svg#josefin_sanssemibold") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 4, ../scss/_layout.scss */
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* line 10, ../scss/_layout.scss */
#wrapper {
  background-color: black;
  min-height: 60em;
}

/* line 14, ../scss/_layout.scss */
.container {
  background-color: #480856;
  background-image: url("../img/bg-gradient.png");
  background-size: 100% auto;
  background-position: top center;
  background-repeat: no-repeat;
  height: 100%;
  min-height: 60em;
  max-width: 46em;
  margin: 0 auto;
  padding: 2em 4.5em;
}

/* line 29, ../scss/_layout.scss */
button {
  background-color: #e82f8a;
  border-radius: .5em;
  padding: .5em 4em;
  font-family: "josefin_sansbold", "Arial", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}
/* line 37, ../scss/_layout.scss */
button:hover {
  background-color: #cd1771;
}

/* line 44, ../scss/_layout.scss */
nav {
  margin: 0 auto;
  min-height: 7em;
  padding: 2em 0;
  max-width: 100%;
}
/* line 49, ../scss/_layout.scss */
nav ul {
  margin: 0 auto;
}
/* line 51, ../scss/_layout.scss */
nav ul li {
  padding: 10px 12px;
  background-color: black;
  list-style-type: 0;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-size: .8em;
  font-family: "josefin_sansbold", "Arial", sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  transition: 300ms all ease-in-out;
  cursor: pointer;
}
/* line 66, ../scss/_layout.scss */
nav ul li a {
  transition: 300ms all ease-in-out;
  color: white;
  border: 0;
}
/* line 70, ../scss/_layout.scss */
nav ul li a:hover {
  color: white;
}
/* line 75, ../scss/_layout.scss */
nav ul li.active, nav ul li:hover {
  color: black;
  background-color: white;
}
/* line 78, ../scss/_layout.scss */
nav ul li.active a, nav ul li:hover a {
  color: black;
}
/* line 80, ../scss/_layout.scss */
nav ul li.active a:hover, nav ul li:hover a:hover {
  color: black;
}

/* line 91, ../scss/_layout.scss */
body {
  font-family: "ralewayregular", "Arial", sans-serif;
}

/* line 94, ../scss/_layout.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "josefin_sansbold", "Arial", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

/* line 100, ../scss/_layout.scss */
h1, h3, h4, h5, h6 {
  color: white;
}

/* line 103, ../scss/_layout.scss */
h2 {
  color: #e8308a;
  font-weight: 700;
  font-size: 2.2em;
}

/* line 108, ../scss/_layout.scss */
h3 {
  font-weight: 700;
  font-size: 1.68rem;
}

/* line 112, ../scss/_layout.scss */
p {
  color: white;
}

/* line 115, ../scss/_layout.scss */
a {
  border-bottom: 1px solid white;
  color: white;
}
/* line 121, ../scss/_layout.scss */
a:hover, a:focus, a:active, a:visited {
  color: white;
}

/* line 127, ../scss/_layout.scss */
.uppercase {
  text-transform: uppercase;
}

/* line 133, ../scss/_layout.scss */
.page {
  z-index: 1;
  position: relative;
}
/* line 136, ../scss/_layout.scss */
.page section {
  z-index: 2;
}
/* line 139, ../scss/_layout.scss */
.page .background-image {
  background-position: top right;
  background-repeat: no-repeat;
  width: 20em;
  height: 100%;
  position: absolute;
  z-index: -1;
}

/* line 148, ../scss/_layout.scss */
section {
  padding: .5em 0;
}
/* line 150, ../scss/_layout.scss */
section .section-header {
  margin: 1em 0;
  position: relative;
}
/* line 153, ../scss/_layout.scss */
section .section-header h3 {
  font-weight: 700;
  margin: 0;
  padding: 0;
}
/* line 158, ../scss/_layout.scss */
section .section-header a {
  text-transform: uppercase;
  position: absolute;
  right: 0;
  bottom: .3em;
  font-weight: 700;
  font-family: "josefin_sansbold", "Arial", sans-serif;
  font-size: .9em;
}
/* line 170, ../scss/_layout.scss */
section .section-grid .contribution {
  padding: 0;
}
/* line 172, ../scss/_layout.scss */
section .section-grid .contribution .contribution-inner {
  cursor: pointer;
  padding: .5em;
  margin-right: 1em;
  margin-bottom: 1em;
  background-color: white;
}
/* line 178, ../scss/_layout.scss */
section .section-grid .contribution .contribution-inner h5 {
  overflow: hidden;
  height: 1.5em;
  margin: .2em 0;
  padding: 0;
  text-transform: none;
  color: #2c2c2c;
  font-family: "Arial", sans-serif;
  font-weight: 600;
  font-size: 1em;
  text-overflow: ellipsis;
}
/* line 190, ../scss/_layout.scss */
section .section-grid .contribution .contribution-inner .contribution-image {
  overflow: hidden;
  height: 11em;
}
/* line 193, ../scss/_layout.scss */
section .section-grid .contribution .contribution-inner .contribution-image img {
  width: 100%;
}
/* line 199, ../scss/_layout.scss */
section .section-grid .contribution:nth-child(3n) .contribution-inner {
  margin-right: 0;
}
/* line 204, ../scss/_layout.scss */
section .section-grid .contribution-actions {
  height: 3em;
  padding: 1em 0;
  position: relative;
}
/* line 208, ../scss/_layout.scss */
section .section-grid .contribution-actions div {
  display: inline-block;
}
/* line 210, ../scss/_layout.scss */
section .section-grid .contribution-actions div i {
  cursor: pointer;
  border: 1px solid #e5e5e5;
  border-radius: .2em;
  padding: .2em .6em;
  font-size: 1em;
}
/* line 216, ../scss/_layout.scss */
section .section-grid .contribution-actions div i.fi-heart {
  color: #e8308a;
}
/* line 218, ../scss/_layout.scss */
section .section-grid .contribution-actions div i.fi-heart.inactive {
  color: #e5e5e5;
}
/* line 222, ../scss/_layout.scss */
section .section-grid .contribution-actions div i.fi-share {
  color: #008853;
}
/* line 225, ../scss/_layout.scss */
section .section-grid .contribution-actions div i span {
  font-size: .9em;
  vertical-align: center;
  font-weight: 600;
  font-family: "Arial", sans-serif;
  font-style: normal;
  padding-left: .4em;
  color: #2c2c2c;
}
/* line 236, ../scss/_layout.scss */
section .section-grid .contribution-actions a {
  border: 1px solid black;
  background-color: black;
  position: absolute;
  right: 0;
  top: 1.1em;
  border-radius: .2em;
  padding: .4em .8em;
  font-size: .8em;
}
/* line 249, ../scss/_layout.scss */
section .section-pagination {
  padding: 1.5em 0;
}

/* line 257, ../scss/_layout.scss */
#container-welcome {
  min-height: 55em;
}
/* line 260, ../scss/_layout.scss */
#container-welcome .rules-column {
  border-radius: 50%;
  padding: 1em;
  height: 200px;
  padding: 10px;
  position: relative;
  top: 90px;
  left: 70px;
}
/* line 268, ../scss/_layout.scss */
#container-welcome .rules-column .column-inner {
  background-color: #e82f8a;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  padding: 1em;
}
/* line 279, ../scss/_layout.scss */
#container-welcome .rules-column .column-inner .column-border {
  border: 2px solid white;
  border-radius: 50%;
  position: absolute;
  top: 4px;
  left: 4px;
  bottom: 4px;
  right: 4px;
}
/* line 288, ../scss/_layout.scss */
#container-welcome .rules-column .column-inner h4 {
  font-size: 15px;
  font-weight: bold;
  position: relative;
  top: 54px;
  left: 0px;
  text-align: center;
}
/* line 297, ../scss/_layout.scss */
#container-welcome .rules-column .column-inner a {
  border: 1px solid black;
  background-color: black;
  position: relative;
  top: 60px;
  left: 37px;
  border-radius: .2em;
  padding: .4em .8em;
  font-size: .8em;
}

/* line 311, ../scss/_layout.scss */
.page-welcome {
  z-index: 1;
  position: relative;
}
/* line 314, ../scss/_layout.scss */
.page-welcome section {
  z-index: 2;
}
/* line 317, ../scss/_layout.scss */
.page-welcome .background-image {
  background-position: top right;
  background-repeat: no-repeat;
  width: 21em;
  height: 321%;
  position: absolute;
  z-index: -1;
}

/* line 327, ../scss/_layout.scss */
#section-welcome h2 {
  padding-top: 0.5em;
  font-size: 35px;
}
/* line 331, ../scss/_layout.scss */
#section-welcome h3 {
  font-size: 30px;
}
/* line 335, ../scss/_layout.scss */
#section-welcome .background-image {
  background-image: url("../img/welcome-glass.png");
  top: 14em;
  right: -2.8em;
}

/* line 343, ../scss/_layout.scss */
#welcome-footer {
  height: 7em;
  margin-top: 30em;
  margin-left: 1em;
}

/* line 354, ../scss/_layout.scss */
#section-start section:nth-child(2) h3 {
  padding-right: 7em;
}
/* line 357, ../scss/_layout.scss */
#section-start section:nth-child(2) p {
  padding-right: 13em;
}
/* line 361, ../scss/_layout.scss */
#section-start .background-image {
  background-image: url("../img/chef.png");
  top: 4em;
  right: -4.8em;
}

/* line 367, ../scss/_layout.scss */
.rules-grid {
  margin: 10px 0;
}
/* line 369, ../scss/_layout.scss */
.rules-grid h4 {
  font-size: 1em;
  font-weight: 700;
  padding: 0;
  margin: 0;
}
/* line 375, ../scss/_layout.scss */
.rules-grid p {
  font-size: 0.8em;
}
/* line 378, ../scss/_layout.scss */
.rules-grid span {
  color: white;
  font-size: 3em;
  font-weight: 700;
  font-family: "josefin_sansbold", "Arial", sans-serif;
  line-height: .9em;
}
/* line 385, ../scss/_layout.scss */
.rules-grid .columns {
  padding: 0;
  margin: 0;
}
/* line 389, ../scss/_layout.scss */
.rules-grid .rules-column {
  padding: 1em;
  height: 150px;
  padding: 10px;
  position: relative;
}
/* line 395, ../scss/_layout.scss */
.rules-grid .rules-column:nth-of-type(odd) .column-inner {
  right: 5px;
}
/* line 400, ../scss/_layout.scss */
.rules-grid .rules-column:nth-of-type(even) .column-inner {
  left: 5px;
}
/* line 404, ../scss/_layout.scss */
.rules-grid .rules-column .column-inner {
  background-color: #e82f8a;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  padding: 1em;
}
/* line 413, ../scss/_layout.scss */
.rules-grid .rules-column .column-inner .column-border {
  border: 2px solid white;
  position: absolute;
  top: 4px;
  left: 4px;
  bottom: 4px;
  right: 4px;
}
/* line 423, ../scss/_layout.scss */
.rules-grid .rules-column .column-inner .small-11 {
  padding-left: 1em;
}

/* line 434, ../scss/_layout.scss */
#section-all section:nth-child(2) p {
  padding-right: 12em;
}
/* line 438, ../scss/_layout.scss */
#section-all .background-image {
  top: -0.5em;
  right: -4.8em;
  background-image: url("../img/chef.png");
}
/* line 443, ../scss/_layout.scss */
#section-all .section-pagination {
  font-family: "josefin_sansbold", "Arial", sans-serif;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  font-size: .8em;
}
/* line 449, ../scss/_layout.scss */
#section-all .section-pagination span {
  margin-right: 1em;
}
/* line 452, ../scss/_layout.scss */
#section-all .section-pagination a {
  margin-right: 1em;
}
/* line 455, ../scss/_layout.scss */
#section-all .section-pagination #prev:before {
  content: "\00ab";
}
/* line 458, ../scss/_layout.scss */
#section-all .section-pagination #next:after {
  content: "\00bb";
}

/* line 485, ../scss/_layout.scss */
#section-top section:nth-child(2) p {
  padding-right: 10.5em;
}
/* line 489, ../scss/_layout.scss */
#section-top .background-image {
  top: -0.5em;
  right: -4.8em;
  background-image: url("../img/chef.png");
}

/* line 500, ../scss/_layout.scss */
#section-winners section:nth-child(2) p {
  padding-right: 10em;
}
/* line 504, ../scss/_layout.scss */
#section-winners .background-image {
  top: -0.5em;
  right: -4.8em;
  background-image: url("../img/glass.png");
}
/* line 509, ../scss/_layout.scss */
#section-winners .section-header h3 {
  font-size: 1.3em;
}

/* line 518, ../scss/_layout.scss */
#section-rules section:nth-child(2) p {
  padding-right: 12em;
}
/* line 522, ../scss/_layout.scss */
#section-rules .background-image {
  top: -1em;
  right: -2em;
  background-image: url("../img/glass.png");
}

/* line 531, ../scss/_layout.scss */
footer {
  height: 7em;
  margin-top: 4em;
}
/* line 534, ../scss/_layout.scss */
footer .logo {
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  background-position: top left;
  width: 11em;
  height: 6em;
}

/* line 545, ../scss/_layout.scss */
.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 20;
}

/* line 554, ../scss/_layout.scss */
.modal {
  z-index: 22;
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 32em;
  background-color: white;
  transform: translate(-50%, -50%);
}

/* line 568, ../scss/_layout.scss */
.modal-inner {
  padding: .5em;
  margin: 0 auto;
  background-color: white;
}
/* line 572, ../scss/_layout.scss */
.modal-inner h5 {
  overflow: hidden;
  height: 1.5em;
  margin: .2em .1em;
  padding: 0;
  text-transform: none;
  color: #2c2c2c;
  font-family: "Arial", sans-serif;
  font-weight: 600;
  font-size: 1em;
  text-overflow: ellipsis;
}
/* line 584, ../scss/_layout.scss */
.modal-inner .close-modal {
  position: absolute;
  top: .7em;
  right: .7em;
  color: black;
  font-size: .7em;
  border-color: black;
  font-weight: 700;
}
/* line 593, ../scss/_layout.scss */
.modal-inner .contribution-image {
  overflow: hidden;
  width: 30em;
  height: 30em;
  margin: 0 auto;
}
/* line 598, ../scss/_layout.scss */
.modal-inner .contribution-image img {
  width: 100%;
}
/* line 602, ../scss/_layout.scss */
.modal-inner .contribution-actions {
  height: 3em;
  padding: 1em 0;
  position: relative;
}
/* line 606, ../scss/_layout.scss */
.modal-inner .contribution-actions div {
  display: inline-block;
}
/* line 608, ../scss/_layout.scss */
.modal-inner .contribution-actions div i {
  cursor: pointer;
  border: 1px solid #e5e5e5;
  border-radius: .2em;
  padding: .2em .6em;
  font-size: 1em;
}
/* line 614, ../scss/_layout.scss */
.modal-inner .contribution-actions div i.fi-heart {
  color: #e8308a;
}
/* line 616, ../scss/_layout.scss */
.modal-inner .contribution-actions div i.fi-heart.inactive {
  color: #e5e5e5;
}
/* line 620, ../scss/_layout.scss */
.modal-inner .contribution-actions div i.fi-share {
  color: #008853;
}
/* line 623, ../scss/_layout.scss */
.modal-inner .contribution-actions div i span {
  font-size: .9em;
  vertical-align: center;
  font-weight: 600;
  font-family: "Arial", sans-serif;
  font-style: normal;
  padding-left: .4em;
  color: #2c2c2c;
}
/* line 634, ../scss/_layout.scss */
.modal-inner .contribution-actions a {
  border: 1px solid black;
  background-color: black;
  top: 1.1em;
  border-radius: .2em;
  padding: .4em .8em;
  font-size: .8em;
}

/* line 648, ../scss/_layout.scss */
pre {
  background: white;
}
